@(phone: String, name: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
    	<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>JXC</title>
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <link rel="stylesheet" href="@routes.Assets.at("frameworks/bootstrap/bootstrap.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("frameworks/bootstrap/bootstrap-theme.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("frameworks/bootstrap/bootstrap-datetimepicker.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("frameworks/bootstrap/bootstrap-switch.min.css")">
        <link rel="stylesheet" href="@routes.Assets.at("frameworks/jquery/ztree/css/metro.css")">
        <link rel="stylesheet" href="@routes.Assets.at("frameworks/bootgrid/jquery.bootgrid.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/base.css")">
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/common.css")">
        <!--[if lt IE 9]>
      		<script src="@routes.Assets.at("javascripts/html5shiv.min.js")"></script>
      		<script src="@routes.Assets.at("javascripts/respond.min.js")"></script>
    	<![endif]-->
        <script src="@routes.Assets.at("frameworks/jquery/jquery.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/jquery/jquery.cookie.js")"></script>
        <script src="@routes.Assets.at("frameworks/jquery/jquery.pagination.js")"></script>
        <script src="@routes.Assets.at("frameworks/jquery/ztree/jquery.ztree.all.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/bootstrap/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/bootstrap/bootstrap-datetimepicker.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/bootstrap/bootstrap-switch.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/bootstrap/bootstrap-validator.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/echart3.0/echarts.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/bootgrid/jquery.bootgrid.js")"></script>
        <script src="@routes.Assets.at("frameworks/jquery/jquery.i18n.properties.min.js")"></script>
        <script src="@routes.Assets.at("frameworks/bootgrid/jquery.bootgridS.js")"></script>
        <script src="@routes.Assets.at("javascripts/common/portal-main.js")"></script>
        <script src="@routes.Assets.at("javascripts/common/portal-config.js")"></script>
        <script src="@routes.Assets.at("javascripts/common/portal-util.js")"></script>
    </head>

    <body>
		<nav class="navbar navbar-inverse navbar-fixed-top losp-navbar">
      		<div class="container-fluid">
        		<div class="navbar-header">
          			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" 
          					data-target="#navbar" aria-expanded="false" aria-controls="navbar" 
          					id="lopsMenuCollapsed">
			            <span class="sr-only">Toggle navigation</span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
			            <span class="icon-bar"></span>
          			</button>
          			<span class="navbar-brand">
						<div class="losp-logo-wrapper pull-left">
							<img src="@routes.Assets.at("images/icon_logo.png")">
						</div>
						<h1 class="losp-system-title">@Messages("system_title")</h1>
          			</span>
        		</div>
		        <div id="navbar" class="navbar-collapse collapse">
		        	<!-- menu -->
		          	<ul class="nav navbar-nav" id="lospMenu">
		          		<li class="dropdown">  
                         	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                基础资料<span class="caret"></span>
                             </a>
                             <ul class="dropdown-menu" role="menu">
                             	<li><a href="/product">产品</a></li>
                             	<li><a href="/customer">客户</a></li>
                             </ul>
                          </li>
                          <li class="dropdown">  
                         	<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                送货单<span class="caret"></span>
                             </a>
                             <ul class="dropdown-menu" role="menu">
                             	<li><a href="/chanpin">产品</a></li>
                             	<li><a href="/kehu">客户</a></li>
                             </ul>
                          </li>
		          	</ul>
		          	<!-- profile -->
		          	<ul class="nav navbar-nav navbar-right" id="lospProfile">
                        <li><a id="signoutTip"></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" 
                                    role="button" aria-expanded="false">
                                <span class="glyphicon glyphicon-user"></span> 
                                <span id="username"> @name</span>
                                <span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <a href="#" id="profile">
                                        @Messages("form.account")
                                    </a>
                                </li>
                                <li>
                                    <a href="#" id="password">
                                        @Messages("form.modifyPsw")
                                    </a>
                                </li>
                                <li><a href="#" id="signOut">@Messages("form.sign_out")</a></li>
                            </ul>
                        </li>    
                    </ul>
		        </div>
      		</div>
    	</nav>
		
        @content
		
        <!-- Footer 
		<div class="container-fluid losp-footer" id="lospFooter">
			<div class="row">
				<div class="col-md-4 footer-column">
					<p>Licensed to a company</p>
				</div>
				<div class="col-md-8 footer-column">
					<p class="losp-copyright">&copy;2015 Pacific Broadband Networks.</p>
				</div>
			</div>
		</div>
        -->

        <script type="text/javascript">
            PORTAL.User.mobile = "@phone";
            PORTAL.User.name = "@name";
        </script>
    </body>
</html>